body{
    width: 100%;
    height: 100px;
    margin:0 auto;
    background-color: #e0ffff;
    color: #000;
    justify-content:center;
}

img{
    width: 150px;
    height: 80px;
    margin: 20px;
}

body a{
    text-decoration:none;
    color: black;
}

body h1{
    font-size: 20px;
    text-align: center;
}

.list{
    display: flex;
}