.rank img{
  width: 50px;
  height: 30px;
  margin: 5px 0 0 0;
}

.popular-arti{
  padding: 1em 2.3em 1.3em;
  margin: 30px 15px 10px 0;
  font-weight: bold;
  border: solid 3px #000;
}

.popular-arti h1{
  font-size: 15px;
  text-align: center;
}

.rank {
  font-size: 3px;
  border-top: solid 1px #000;
}

.new-arti{
  border: solid 3px #000;
  margin: 30px 15px 20px 0;
}

.new-arti img{
  width: 60px;
  height: 80px;
}

.new img{
  width: 60px;
  height: 40px;
  margin: 0 0 0 5px;
}

.new-arti h1{
  font-size: 18px;
  border-bottom: solid 3px #000;
  margin: 0 5px 0 5px;
}

.new{
  margin: 5px 5px 10px 0;
  border-bottom: solid 0.5px #000;
  display: block;
}