body{
    width: 100%;
    margin:0 auto;
    background-color: white;
    color: #000;
    justify-content:center;
  }
  
  .wrap{
    overflow: hidden;
  }
  
  body p{
    margin: 80px 0;
  }
  
  body a{
    text-decoration:none;
    color: black;
  }

  iframe{
    border: none;
  }

  .logo{
    width: 80px;
    height: 30px;
  }

  .logo2{
    width: 400px;
    height: 200px;
  }
  
  header{
    background-color: #acffff;
  }

  .samune{
    width: 300px;
    height: 400px;
  }

  .samune1{
    width: 300px;
    height: 400px;
  }

  .samune2{
    width: 300px;
    height: 300px;
  }
  
  .samune3{
    width: 300px;
    height: 200px;
  }
  
  .main-body{
    color: black;
    display: flex;
    width: 100%;
    height: auto; /* 高さを自動調整 */
    overflow: auto; /* スクロールを有効にする */
  }
  
  .left{
    width: 20%;
    margin: 0 auto;
  }
  
  .left iframe{
    width: 220px;
    height: 1500px;
  }
  
  .right{
    width: 20%;
    margin: 0 auto;
  }
  
  
  .ri-i{
    width: 220px;
    height: 2000px;
  }
  
  .arti{
    margin: 30px 40px 30px 0;
    width: 40%;
  }
  
  .logo{
    width: 80px;
    height: 30px;
  }
  
  .open_day{
    font-size: 13px;
  }
  
  .table{
    background-color: #e0ffff;
    padding: 10px 0;
    border: 1px solid black;
    margin: 20px 0;
    text-align: center;
  }
  
  .table h1{
    font-size: 25px;
    text-align: center;
  }
  
  .table li{
    border-bottom: 1px solid black;
    margin: 20px 50px;
    font-family: YuGothic, "Yu Gothic", 游ゴシック体, 游ゴシック, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Verdana, メイリオ, Meiryo, Osaka, "MS PGothic", Arial, Helvetica, sans-serif;;
  }
  
  .arti h2{
    border-bottom: 1px solid #000;
    margin: 40px 0 40px 0;
  }
  
  .arti h3{
    border-bottom: 1px solid #009ADA;
  }
  
  .fan_1{
    display: flex;
  }
  
  .link{
    color: red;
    border: solid 2px;
    padding: 20px 20px;
    text-decoration:none;
  }
  
  .arti-1{
    margin: 20px 0 30px;
    background-color: #e0ffff;
    box-shadow: 2px 2px 4px -2px #00bfff;
    display: flex;
  }
  
  .arti-1 img{
    height: 90%;
    margin: 5px 0 0 5px;
  }
  
  .arti-1 h1{
    font-size: 20px;
    width: 500%;
    margin: 10px 250px 0 0;
  }
  
  .free_img{
    width: 400px;
    height: 300px;
  }
  
  footer {
    padding: 10px 0;
    margin: 20px 0 0;
    background-color: #e0ffff;
  }
  
  footer iframe{
    height: 500px;
  }
  
  @media screen and (max-width: 959px) {
  /* 959px以下に適用されるCSS（タブレット用） */
  
    .arti{
        margin: 10px 0 10px 20px;
        width: 90%;
    }
  
    .table{
      width: 300px;
      margin: 0 auto;
    }
  
    .table li{
      margin: 10px 10px 0 0;
    }
  
    .arti-1 h1{
        font-size: 15px;
        width: 100%;
    }
  
    .left{
      display: none;
    }
  
    .right{
      display: none;
    }
  
  }
  
  @media screen and (max-width: 532px) {
  /* 480px以下に適用されるCSS（スマホ用） */
  
    .main-body{
        margin: -20px 0 0 0;
    }

    .arti{
      margin: 10px;
      width: 90%;
    }
  
    .left{
        display: none;
    }
  
    .right{
      display: none;
    }
  
    footer iframe{
        height: 850px;
    }

  }