body{
    width: 100%;
    margin:0 auto;
    background-color: white;
    color: #000;
    justify-content:center;
}

.wrap{
    overflow: hidden;
}

iframe{
    border: none;
  }
  
body a{
    text-decoration:none;
    color: black;
}

header{
    background-color: #acffff;
}

.main-arti{
    font-family: YakuHanJP, "SF Pro JP", "SF Pro Text", "SF Pro Icons", "BIZ UDPGothic", Meiryo, "Helvetica Neue", Arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", sans-serif;
    background-color: #acffff;
    display: flex;
    padding: 10px 5px 0% 15px;
}

.main-arti h1{
    font-size: 20px;
    justify-content:center;
}

.main1{
    flex:1;
}

.main2{
    flex:1;
}

.main3{
    flex:1;
}

.main-arti img{
    height: 75%;
    width: 95%;
    opacity: 0.8;

}

.main-body{
    color: black;
    display: flex;
    width: 100%;
}

.left{
    width: 20%;
    margin: 0 auto;
  }
  
.left iframe{
    width: 220px;
    height: 1500px;
}

.right{
    width: 20%;
    margin: 0 auto;
  }
  
  
.right iframe{
    width: 220px;
    height: 1500px;
}

.arti-list{
    margin: 30px auto;
    width: 40%;
}

.arti-1{
    margin: 20px 0 30px;
    background-color: #e0ffff;
    box-shadow: 2px 2px 4px -2px #00bfff;
    display: flex;
}

.arti-1 img{
    width: 60%;
    height: 90%;
    margin: 5px 0 0 5px;
}

.arti-1 h1{
    font-size: 20px;
    width: 500%;
    margin: 10px 250px 0 0;
}


footer {
    padding: 10px 0;
    margin: 20px 0 0;
    background-color: #e0ffff;
}

footer iframe{
    height: 500px;
}

@media screen and (max-width: 959px) {
	/* 959px以下に適用されるCSS（タブレット用） */

    .main-arti h1{
        font-size: 12px;
        justify-content:center;
    }

    .main-body iframe{
        width: 160px;
        margin: 20px 0 0 0;
    }

    .arti-list{
        margin: 30px 10px;
        width: 100%;
        }

    .arti-1 h1{
        font-size: 15px;
        width: 100%;

    }

    .ri-i{
        display: none;
    }

}

@media screen and (max-width: 532px) {
	/* 480px以下に適用されるCSS（スマホ用） */

    .main-body{
        margin: -20px 0 0 0;
    }

    .main-body iframe{
        display: none;
    }

    .main3{
        display: none;
    }

    footer iframe{
        height: 850px;
    }
}